.ui-selectonemenu-label {
	width: 100% !important;
}

.ui-selectcheckboxmenu-label {
	width: 100% !important;
	font-size: 1em !important;
	font-weight: 12 px;
}

.ui-carousel-header {
	margin: 0px 1px;
	height: 0px;
	overflow: hidden;
	padding: 7px 10px 8px;
	display: none !important;
	border: 0;
}

.noBorder tr, .noBorder td {
	border: none !important;
}

.noBackground {
	border: none !important;
	background-color: white !important;
}

.ui-panel {
	background-color: white !important;
	border-weight: 0px !important;
	border-color: white !important;
	border-style: solid !important;
}

.ui-datagrid {
	background-color: white !important;
	border-weight: 0px !important;
	border-color: white !important;
	border-style: solid !important;
}

.ui-panelgrid {
	background-color: white !important;
	border-weight: 0px !important;
	border-color: white !important;
	border-style: solid !important;
}

.ui-panel-titlebar {
	background-color: white !important;
	border-width: 0px !important;
	border-color: white !important;
	border-style: solid !important;
	height: 30px !important;
}

.ui-panelgrid-header {
	background-color: white !important;
	border-width: 0px !important;
	border-color: white !important;
	border-style: solid !important;
}

.ui-panel-content {
	background-color: white !important;
	border-width: 0px !important;
	border-color: white !important;
	border-style: solid !important;
}

.ui-panel-title {
	background-color: white !important;
	border-width: 0px !important;
	border-color: white !important;
	border-style: solid !important;
}

.numberbox tr, .numberbox td {
	border-color: white !important;
	border-style: solid !important;
	border-width: 2px !important;
	background-color: grey !important;
	color: white !important;
	text-align: center;
}